In [51]:
import numpy as np
import pandas as pd

a = pd.read_csv('kohli_ipl.csv')
b = pd.read_csv('bollywood.csv')
b = b.squeeze()
a = a.squeeze()

[1]

.value_counts() =  counts : Series 

Syntax: Index.value_counts(normalize=False, sort=True, ascending=False, bins=None, dropna=True)

Parameters : 

normalize : If True then the object returned will contain the relative frequencies of the unique values. 

sort : Sort by values 

ascending : Sort in ascending order 

bins : Rather than count values, group them into half-open bins, a convenience for pd.cut, only works with numeric data 

dropna : Don’t include counts of NaN.

In [52]:
b.value_counts()

movie                    lead
Gabbar Is Back           Akshay Kumar       2
Andaaz                   Akshay Kumar       2
Tanu Weds Manu: Returns  Kangana Ranaut     2
Yuvvraaj                 Salman Khan        1
Yuva                     Ajay Devgn         1
                                           ..
Yeh Mera India           Anupam Kher        1
Yeh Saali Aashiqui       Vardhan Puri       1
Youngistaan              Jackky Bhagnani    1
Yun Hota Toh Kya Hota    Paresh Rawal       1
Yakeen (2005 film)       Arjun Rampal       1
Name: count, Length: 1497, dtype: int64

[2]

.size = Returns size of dataframe/series which is equivalent to total number of elements.

.shape = Returns tuple of shape (Rows, columns) of dataframe/series

In [57]:
b.shape
a.shape
b.size
a.size

430

[3]

.sort_values = Returns a sorted Data Frame with Same dimensions as of the function caller DataFrame.

Syntax: DataFrame.sort_values(by, axis=0, ascending=True, inplace=False, kind=’quicksort’, na_position=’last’)

Note: Every parameter has some default values except the ‘by’ parameter.

Parameters: 

by: Single/List of column names to sort Data Frame by.

axis: 0 or ‘index’ for rows and 1 or ‘columns’ for Column. 

ascending: Boolean value which sorts Data frame in ascending order if True. 

inplace: Boolean value. Makes the changes in passed data frame itself if True. 

kind: String which can have three inputs(‘quicksort’, ‘mergesort’ or ‘heapsort’) of algorithm used to sort data frame. 

na_position: Takes two string input ‘last’ or ‘first’ to set position of Null values. Default is ‘last’.

In [14]:
b.sort_values(by='lead',ascending=False)
a.sort_values(by='runs',ascending=True)
b.sort_values(inplace=True,by='movie')
b

                                 movie          lead
1305  Taj Mahal: An Eternal Love Story   Zulfi Sayed
306                Dil Toh Deewana Hai   Zeenat Aman
458                 Strings of Passion   Zeenat Aman
257                    Sallu Ki Shaadi   Zeenat Aman
911           Dunno Y... Na Jaane Kyon   Zeenat Aman
...                                ...           ...
1168                 Fanaa (2006 film)    Aamir Khan
974               Raat Gayi Baat Gayi?  Aamir Bashir
205           Lipstick Under My Burkha  Aahana Kumra
553     Roar: Tigers of the Sundarbans  Aadil Chahal
217                         Qaidi Band    Aadar Jain

[1500 rows x 2 columns]

[4]

.sort_index = Return => sorted_obj : DataFrame 

Syntax: DataFrame.sort_index(axis=0, level=None, ascending=True, inplace=False, kind=’quicksort’, na_position=’last’, sort_remaining=True, by=None)

Parameters :

axis : index, columns to direct sorting 

level : if not None, sort on values in specified index level(s) 

ascending : Sort ascending vs. descending 

inplace : if True, perform operation in-place 

kind : {‘quicksort’, ‘mergesort’, ‘heapsort’}, default ‘quicksort’. Choice of sorting algorithm. See also ndarray.np.sort for more information. mergesort is the only stable algorithm. For DataFrames, this option is only applied when sorting on a single column or label. 

na_position : [{‘first’, ‘last’}, default ‘last’] First puts NaNs at the beginning, last puts NaNs at the end. Not implemented for MultiIndex. 

sort_remaining : If true and sorting by level and index is multilevel, sort by other levels too (in order) after sorting by specified level

In [20]:
b.sort_index().head(1).values[0]

array(['Uri: The Surgical Strike', 'Vicky Kaushal'], dtype=object)

In [33]:
b.sum()

movie    1920 (film)1920: London1920: The Evil Returns1...
lead     Rajniesh DuggallSharman JoshiVicky AhujaManoj ...
dtype: object

In [ ]:
a.sum()

In [34]:
a.product()
#b.product()  #not possible

match_no    0
runs        0
dtype: int64

In [37]:
a.mean()
#b.mean() not possible

match_no    108.000000
runs         30.855814
dtype: float64

In [46]:
a.mode()
a.median()
a.std()
a.var()

match_no    3870.000000
runs         688.002478
dtype: float64

In [50]:
a.max()
b.max()
a.min()
b.min()

movie    1920 (film)
lead      Aadar Jain
dtype: object