In [2]:
import numpy as np
import pandas as pd

In [45]:
movies = pd.read_csv('imdb-top-1000.csv')

## find the genre with highest avg IMDB rating

movies.groupby('Genre')['IMDB_Rating'].mean().sort_values(ascending=False).head(1)

Genre
Western    8.35
Name: IMDB_Rating, dtype: float64

In [46]:
# find director with most popularity

movies.groupby('Director')['No_of_Votes'].sum().sort_values(ascending=False).head(1)

Director
Christopher Nolan    11578345
Name: No_of_Votes, dtype: int64

In [62]:
# find the highest rated movie of each genre

highest_rated_per_genre = movies.loc[movies.groupby('Genre')['IMDB_Rating'].idxmax()]
print(highest_rated_per_genre[['Genre', 'Series_Title', 'IMDB_Rating']])

         Genre                     Series_Title  IMDB_Rating
2       Action                  The Dark Knight          9.0
21   Adventure                     Interstellar          8.6
23   Animation    Sen to Chihiro no kamikakushi          8.6
7    Biography                 Schindler's List          8.9
19      Comedy                     Gisaengchung          8.6
1        Crime                    The Godfather          9.2
0        Drama         The Shawshank Redemption          9.3
688     Family       E.T. the Extra-Terrestrial          7.8
321    Fantasy     Das Cabinet des Dr. Caligari          8.1
309  Film-Noir                    The Third Man          8.1
49      Horror                           Psycho          8.5
69     Mystery                          Memento          8.4
700   Thriller                  Wait Until Dark          7.8
12     Western  Il buono, il brutto, il cattivo          8.8

In [59]:
# find number of movies done by each actor

movies.groupby('Star1').size().sort_values(ascending=False)

Star1
Tom Hanks               12
Robert De Niro          11
Clint Eastwood          10
Al Pacino               10
Humphrey Bogart          9
                        ..
Zbigniew Zamachowski     1
Zooey Deschanel          1
Çetin Tekindor           1
Éric Toledano            1
Aaron Taylor-Johnson     1
Length: 660, dtype: int64

In [64]:
movies.groupby('Genre').nth(1)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
5,The Lord of the Rings: The Return of the King,2003,201,Action,8.9,Peter Jackson,Elijah Wood,1642758,377845905.0,94.0
9,Fight Club,1999,139,Drama,8.8,David Fincher,Brad Pitt,1854740,37030102.0,66.0
15,Goodfellas,1990,146,Biography,8.7,Martin Scorsese,Robert De Niro,1020727,46836394.0,90.0
26,La vita è bella,1997,116,Comedy,8.6,Roberto Benigni,Roberto Benigni,623629,57598247.0,59.0
43,The Lion King,1994,88,Animation,8.5,Roger Allers,Rob Minkoff,942045,422783777.0,88.0
47,Back to the Future,1985,116,Adventure,8.5,Robert Zemeckis,Michael J. Fox,1058081,210609762.0,87.0
48,Once Upon a Time in the West,1968,165,Western,8.5,Sergio Leone,Henry Fonda,302844,5321508.0,80.0
75,Alien,1979,117,Horror,8.4,Ridley Scott,Sigourney Weaver,787806,78900000.0,89.0
81,Rear Window,1954,112,Mystery,8.4,Alfred Hitchcock,James Stewart,444074,36764313.0,100.0
456,The Maltese Falcon,1941,100,Film-Noir,8.0,John Huston,Humphrey Bogart,148928,2108060.0,96.0
568,Nosferatu,1922,94,Fantasy,7.9,F.W. Murnau,Max Schreck,88794,445151978.0,NaN
698,Willy Wonka & the Chocolate Factory,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0

In [66]:
#aggregate functions

movies.agg({
    'Runtime' : 'max',
    'Metascore' : 'sum'
})

Runtime        321.0
Metascore    65730.0
dtype: float64

In [67]:
movies.agg(['max','sum'])

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
max,Ôkami kodomo no Ame to Yuki,PG,321,Western,9.3,Ömer Faruk Sorak,Ömer Faruk Sorak,2343110,9.366622e+08,100.0
sum,The Shawshank RedemptionThe GodfatherThe Dark ...,1994197220081974195720031994199320101999200119...,122891,DramaCrimeActionCrimeCrimeActionCrimeBiography...,7949.3,Frank DarabontFrancis Ford CoppolaChristopher ...,Tim RobbinsMarlon BrandoChristian BaleAl Pacin...,273692911,1.282781e+11,65730.0

In [68]:
movies.agg({
    'Runtime' : ['sum','max'],
    'Metascore' : ['mean','max']
})

       Runtime  Metascore
sum   122891.0        NaN
max      321.0  100.00000
mean       NaN   77.97153

In [70]:
# new = pd.concat([a,b],ignore_index=True)
#will concat two table together and if ig_in is not used then the index will be in same order as it is in table
#but if  ig_in is used then index will be in one flow

In [71]:
# studetnts.merge(new, how="inner",on="student_id")
# left,right,inner join
# left,right,outer join

In [ ]:
#pd.merge(d1,d2,how='')
#two syntax available